extends layout

block content

    a(href="/") Return

    h2 Login

    form(id="login-form", action="", method="POST")
        label(for="username") Username:
        input#login_username(type="text", name="username")
        label(for="password") Password:
        input#login_password(type="text", name="password")
        button#login_btn(type="submit", class="btn") Login
        p
        div#error(class="card-panel")

    script(src="/javascripts/login.js")