extends layout

block content
    button#logout(type="submit", class="btn") Logout
    p
    a(href="/profile") Update your profile
    p
    a(href="/game") To the game
    p
    a(href="/matches") Chat with your matches


    h4#name


    script(src="/javascripts/user.js")
